tree-sitter
tree-sitter-python
tree-sitter-c
tree-sitter-cpp
tree-sitter-javascript
tree-sitter-java
tree-sitter-go
pygithub
dotenv
torch 
torchvision
torchaudio
transformers
mamba-ssm
causal-conv1d
accelerate