tree-sitter==0.24.0
tree-sitter-python==0.23.2
tree-sitter-c==0.23.4
tree-sitter-cpp==0.23.4
tree-sitter-javascript==0.23.1
tree-sitter-go==0.23.3
tree-sitter-java==0.23.2
pygithub
dotenv
ipykernel
numpy
torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
transformers
mamba-ssm==2.3.0
causal-conv1d==1.5.1
accelerate>=0.26.0